html{
    background-color: black;
  }
  h1 {
    font-family: 'Caveat', cursive;
    font-family: 'Libre Baskerville', serif;
  }
  #first{
    background-color: black;
    width: 60%;
    
    margin-left: 20%;
    margin-top: 100px;
    
  }
  #second{
    font-size: 1rem;
    background-color: black;
    color: white;
    text-align: center;
  }
  #third{
    background-color: black;
    color: white;
    text-align: center;
  }
  img{
    width: 100%;
    border: 5px solid white;
  }